/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html, body {
  font-size: 14px;
  
}
body {
    background-color: #fdffdf
}
body.pushable > .pusher {
    background-color: #fdffdf
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 40px;
}

.main.container {
    margin-top: 5rem;
}
.ui.inverted.menu, .ui.inverted.segment {
    background-color: #6435C9;
}

.hidden {
    transition: linear 1s;
    display: none;
}
.ui.inverted.button:hover {
    color: #6435C9;
}

.ui.menu .ui.dropdown .menu > .item {
    color: #6435C9 !important;
}
.ui.header {
    color: #6435C9;
}
.ui.form .field > label {
    color: #6435C9;
}
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}