@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="ui middle aligned center aligned grid">
    <div class="six wide column ">
        <h2 class="ui violet image header">
            <div class="content">Faça o login da sua conta</div>
        </h2>
        <form id="account" class="ui large form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Input.Email" placeholder="E-mail" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Input.Password" placeholder="Senha" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>
                <button type="submit" class="ui fluid medium violet submit button">Log in</button>
            </div>

        </form>
        <div class="ui message">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
            </p>
        </div>
    </div>

</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
