@page
@model RegisterModel
@{
    ViewData["Title"] = "Registre-se";
}

<div class="ui middle aligned center aligned grid">
    <div class="six wide column">
        <h1 class="ui violet image header">
            @ViewData["Title"]
        </h1>

        <form asp-route-returnUrl="@Model.ReturnUrl" class="ui large form" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <span asp-validation-for="Input.Nome" class="text-danger"></span>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Input.Nome" placeholder="Nome Completo" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Input.Email" placeholder="Email" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Input.Password" placeholder="Senha" />
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Input.ConfirmPassword" placeholder="Confirmar Senha" />
                    </div>
                </div>
                <button type="submit" class="ui fluid medium violet submit button">Registrar</button>
            </div>

        </form>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
