<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmissorPedidos</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/semantic-ui/semantic.css"/>
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="navbar">
            <div class="ui fixed inverted menu">
                <div class="ui container">
                    <a id="toggleSideBar" class="header item">
                        <i class="ellipsis vertical icon">

                        </i>
                    </a>
                    <a class="item" asp-area="" asp-controller="Home" asp-action="Index">EmissorPedidos</a>
                    <div class="ui simple dropdown item">
                        Dropdown
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a class="item" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="item" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </div>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="ui sidebar inverted vertical menu">
        <a class="active item">
            Account
        </a>
        <a class="item">
            Settings
        </a>
        <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Display Options
            <div class="menu">
                <a class="item">Small</a>
                <a class="item">Medium</a>
                <a class="item">Large</a>
            </div>
        </div>
    </div>
    <div class="pusher">
        <div class="ui main container">
            @RenderBody()
        </div>
    </div>

    <footer class="footer">
        <div class="ui inverted vertical segment">
            <div class="ui center aligned container">
                &copy; 2019 - EmissorPedidos
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic-ui/semantic.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
