
@{
    ViewData["Title"] = "Cadastro";
}

<form id="formCadastroEmpresa" class="ui form">
    <h4 class="ui dividing header">Cadastro de Empresa</h4>
    <div class="fields">
        <div class="five wide field">
            <label>Razão Social</label>
            <input type="text" name="RazaoSocial" placeholder="Razão social da empresa" />
        </div>
        <div class="five wide field">
            <label>Nome Fantasia</label>
            <input type="text" name="NomeFantasia" placeholder="Nome Fantasia da empresa" />
        </div>
        <div class="three wide field">
            <label>Incrição</label>
            <input type="text" name="Inscricao" placeholder="Inscrição da Empresa" />
        </div>
        <div class="three wide field">
            <label>Incrição Estadual</label>
            <input type="text" name="InscricaoEstadual" placeholder="Inscrição Estadual da Empresa" />
        </div>

    </div>
    
</form>

