@model EmissorPedidos.Models.Empresas
@{
    ViewData["Title"] = "Cadastro";
}

<form id="formEmpresa" class="ui form">
    <div class="field">
        <div class="four wide field">
            <label>Usuário</label>
            <select id="dropdownUsuario" name="Usuario" class="ui search dropdown"></select>
        </div>
    </div>
    <h4 class="ui dividing header">Cadastro de Empresa</h4>
    <div class="fields">
        <div class="five wide field">
            <label>Razão Social</label>
            <input type="text" asp-for="RazaoSocial" placeholder="Razão social da empresa" />
        </div>
        <div class="five wide field">
            <label>Nome Fantasia</label>
            <input type="text" asp-for="NomeFantasia" placeholder="Nome Fantasia da empresa" />
        </div>
        <div class="three wide field">
            <label>Incrição</label>
            <input type="text" asp-for="Inscricao" placeholder="Inscrição da Empresa" />
        </div>
        <div class="three wide field">
            <label>Incrição Estadual</label>
            <input type="text" asp-for="InscricaoEstadual" placeholder="Inscrição Estadual da Empresa" />
        </div>
    </div>
</form>
<form id="formEmpresaEndereco" class="ui form">
    <h4 class="ui dividing header">Endereço</h4>
    <div class="fields">
        <div class="two wide field">
            <label>CEP</label>
            <input type="text" name="Cep" placeholder="0000-000" />
        </div>
        <div class="four wide field">
            <label>Endereço</label>
            <input type="text" name="Logradouro" placeholder="Endereço" />
        </div>
        <div class="one wide field">
            <label>Número</label>
            <input type="number" name="Numero" />
        </div>
        <div class="two wide field">
            <label>Complemento</label>
            <input type="text" name="Complemento" />
        </div>
        <div class="four wide field">
            <label>Bairro</label>
            <input type="text" name="Bairro" />
        </div>
        <div class="one wide field">
            <label>UF</label>
            <select id="dropdownEstado" class="ui search dropdown" name="Estado">
                <option value="0">UF</option>
            </select>
        </div>
        <div class="two wide field">
            <label>País</label>
            <select id="dropdownPais" class="ui search dropdown" name="Pais">
                <option value="0">Pais</option>
            </select>
        </div>
    </div>
</form>
<form id="formEmpresaContato" class="ui form">
    <h4 class="ui dividing header">Contatos</h4>
    <div class="fields">
        <div class="four wide field">
            <label>Email</label>
            <input type="text" name="Email" placeholder="Email" />
        </div>
        <div class="two wide field">
            <label>Telefone Fixo</label>
            <input type="text" name="Telefone" />
        </div>
        <div class="two wide field">
            <label>Celular</label>
            <input type="text" name="Telefone" />
        </div>
    </div>
</form>
<h4 class="ui dividing header"></h4>
<button class="ui right floated button positive" id="submitEmpresa">Salvar</button>
<button class="ui right floated button negative" id="cancelEmpresa">Cancelar</button>

@section scripts {
    <script>
        var ddlUsuario = $("#dropdownUsuario");
        var ddlPais = $("#dropdownPais");
        $(function () {
            CarregarUsuarios();
            CarregarEstados("Empresa", "GetEstados");
            CarregarPaises("Empresa", "GetPaises");
        })

        function CarregarUsuarios() {

        }
        
        
    </script>
}