@{
    ViewData["Title"] = "Home Page";
}
<div class="ui grid">
    <div class="four wide column">
        <div class="ui card">
            <div class="content">
                <div class="header">
                    Cadastros
                </div>
            </div>
            <div class="content">
                <h4 class="ui sub header">
                    Empresas
                </h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <a asp-controller="Empresa" asp-action="Cadastro">Cadastre aqui</a> sua empresa
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        </div>
    <div class="four wide column">
        <div class="ui card">
            LALALALA
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card">
            LALALALA
        </div>
    </div>
    <div class="four wide column">
        <div class="ui card">
            LALALALA
        </div>
    </div>
</div>
