.display-flex-row {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.display-flex-column {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}
.ui {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}
.ui.container {
  width: 100%;
}
.ui.container > .login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5%;
  width: 25%;
  padding: 1.5rem 0.5rem;
  font-size: 1.125rem;
}
.navbar {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  background-color: #000;
}
.navbar.container {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
}
.navbar.menu {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem 0;
}
.navbar.menu > .itens {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 0.8rem;
}
.column > .separator {
  margin-bottom: 1rem;
}
.column > label {
  margin-bottom: 0.3rem;
}
.header {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.35rem;
}
.separator {
  width: 100%;
  margin: 0;
}
.two.wide {
  width: 12.5%;
}
.four.wide {
  width: 25%;
}
.six.wide {
  width: 37.5%;
}
.eight.wide {
  width: 50%;
}
.ten.wide {
  width: 62.5%;
}
.twelve.wide {
  width: 75%;
}
.fourteen.wide {
  width: 87.5%;
}
.sixteen.wide {
  width: 100%;
}
.ui {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.container {
  width: 100%;
}
.ui.container > .login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5%;
  width: 25%;
  padding: 1.5rem 0.5rem;
  font-size: 1.125rem;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 0.8rem;
}
.column > .separator {
  margin-bottom: 1rem;
}
.column > label {
  margin-bottom: 0.3rem;
}
.header {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.35rem;
}
.separator {
  width: 100%;
  margin: 0;
}
.two.wide {
  width: 12.5%;
}
.four.wide {
  width: 25%;
}
.six.wide {
  width: 37.5%;
}
.eight.wide {
  width: 50%;
}
.ten.wide {
  width: 62.5%;
}
.twelve.wide {
  width: 75%;
}
.fourteen.wide {
  width: 87.5%;
}
.sixteen.wide {
  width: 100%;
}
input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input:focus {
  outline-color: #0E53A7;
  /* primaria */
}
.primary {
  color: #0E53A7;
}
.secundary {
  color: #4E10AE;
}
.terciary {
  color: #FF9C01;
}
.success {
  color: #2CCA2C;
}
.fail {
  color: #FD3737;
}
.btn {
  padding: 8px 12px;
  border-radius: 3px;
  font-weight: 500;
  border: 2px solid;
  cursor: pointer;
}
.btn.primary {
  color: white;
  background-color: #0E53A7;
  /* primaria */
  border-color: #0E53A7;
  transition: 0.2s;
}
.btn.primary:hover {
  color: #0E53A7;
  background-color: white;
  border-color: #0E53A7;
}
.btn.secundary {
  color: white;
  background-color: #4E10AE;
  /* secundaria */
  border-color: #4E10AE;
  transition: 0.2s;
}
.btn.secundary:hover {
  color: #4E10AE;
  background-color: white;
  border-color: #4E10AE;
}
.btn.terciary {
  color: white;
  background-color: #FF9C01;
  /* terciaria */
  border-color: #FF9C01;
  transition: 0.2s;
}
.btn.terciary:hover {
  color: #FF9C01;
  background-color: white;
  border-color: #FF9C01;
}
.btn.success {
  color: white;
  background-color: #2CCA2C;
  /* sucesso */
  border-color: #2CCA2C;
  transition: 0.2s;
}
.btn.success:hover {
  color: #2CCA2C;
  background-color: white;
  border-color: #2CCA2C;
}
.btn.fail {
  color: white;
  background-color: #FD3737;
  /* erro */
  border-color: #FD3737;
  transition: 0.2s;
}
.btn.fail:hover {
  color: #FD3737;
  background-color: white;
  border-color: #FD3737;
}
