html,
body {
  height: 100%;
  line-height: 1.5rem;
}
h1,
h2,
h3 {
  letter-spacing: 0.1rem;
  font-weight: 500;
}
i {
  margin-right: 0.5rem;
  min-width: 19px;
}
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  z-index: 100;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #000;
  width: 250px;
}
.navbar.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 0rem;
}
.navbar.container .itens {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.navbar.container .itens a {
  width: 100%;
  padding: 0.25rem 1.5rem;
  color: #FFF;
  font-size: 1.2rem;
  text-decoration: none;
}
.navbar.container .itens a:hover {
  background-color: #4d4d4d;
}
.navbar.image {
  max-width: 40px;
}
.ui,
#root {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.ui.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.ui.container > .login {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5%;
  width: 25%;
  padding: 1.5rem 0.5rem;
  font-size: 1.125rem;
}
.header {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 0.35rem;
}
.fa.small {
  font-size: 1.2rem;
}
.title {
  width: 100%;
}
.row {
  display: flex;
  align-items: top;
  justify-content: flex-start;
  width: 100%;
}
.column {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 0.8rem;
}
.column > .separator {
  margin-bottom: 1rem;
}
.column > label {
  margin-bottom: 0.3rem;
}
.separator {
  width: 100%;
  margin: 0;
}
.two.wide {
  width: 12.5%;
}
.four.wide {
  width: 25%;
}
.six.wide {
  width: 37.5%;
}
.eight.wide {
  width: 50%;
}
.ten.wide {
  width: 62.5%;
}
.twelve.wide {
  width: 75%;
}
.fourteen.wide {
  width: 87.5%;
}
.sixteen.wide {
  width: 100%;
}
input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input:focus {
  outline-color: #0E53A7;
  /* primaria */
}
.primary {
  color: #0E53A7;
}
.secundary {
  color: #4E10AE;
}
.terciary {
  color: #FF9C01;
}
.success {
  color: #2CCA2C;
}
.fail {
  color: #FD3737;
}
.btn {
  padding: 0.37593985rem 1rem;
  border-radius: 2px;
  font-weight: 500;
  border: 2px solid;
  cursor: pointer;
  transition: 0.2s;
}
.btn.primary {
  color: #FFF;
  background-color: #0E53A7;
  /* primaria */
  border-color: #0E53A7;
}
.btn.primary:hover {
  background-color: #2e84ed;
  border-color: #0E53A7;
}
.btn.secundary {
  color: #FFF;
  background-color: #4E10AE;
  /* secundaria */
  border-color: #4E10AE;
}
.btn.secundary:hover {
  background-color: #7e37ed;
  border-color: #4E10AE;
}
.btn.warning {
  color: #FFF;
  background-color: #FF9C01;
  /* terciaria */
  border-color: #FF9C01;
}
.btn.warning:hover {
  background-color: #ffc467;
  border-color: #FF9C01;
}
.btn.success {
  color: #FFF;
  background-color: #2CCA2C;
  border-color: #2CCA2C;
}
.btn.success:hover {
  background-color: #7ae27a;
  border-color: #2CCA2C;
}
.btn.fail {
  color: #FFF;
  background-color: #FD3737;
  border-color: #FD3737;
}
.btn.fail:hover {
  background-color: #fe9c9c;
  border-color: #FD3737;
}
.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border: solid 1px rgba(14, 83, 167, 0.5);
  border-top: none;
  border-radius: 2px;
  box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.card-header {
  font-size: 1.2rem;
  font-weight: 500;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #f2f2f2;
  border-top: solid 1px rgba(14, 83, 167, 0.5);
}
.card-body {
  width: 100%;
  padding: 0.75rem 1rem;
  border-top: solid 1px rgba(14, 83, 167, 0.5);
}
.card-footer {
  width: 100%;
  padding: 0.75rem 1rem;
  border-top: solid 1px rgba(14, 83, 167, 0.5);
}
.card-footer button {
  float: right;
  margin-left: 0.5rem;
}
.card-footer.full {
  padding: 0;
}
.card-footer.full button {
  width: 100%;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
