@cor-primaria:#0E53A7;
@cor-secundaria: #4E10AE;
@cor-atencao: #FF9C01;
@cor-sucesso: #2CCA2C;
@cor-erro: #FD3737;

.ui {
    display: block;
    align-items: center;
    justify-content: center;
}
.ui.container {
    width: 100%;
}
.ui.container > .login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
    width: 25%;
    padding: 1.5rem 0.5rem;
    font-size: 1.125rem; 
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.0rem;
    width: 100%;
    margin-bottom: 0.8rem;
}
.column > .separator {
    margin-bottom: 1.0rem;
}
.column > label {
    margin-bottom: 0.30rem;
}
.header {
    font-size: 2.0rem;
    text-align: center;
    letter-spacing: 0.35rem;
}
.separator {
    width: 100%;
    margin: 0;
}
.two.wide {
    width: 12.5%;
}
.four.wide {
    width: 25%;
}
.six.wide {
    width: 37.5%;
}
.eight.wide {
    width: 50%;
}
.ten.wide {
    width: 62.5%;
}
.twelve.wide {
    width: 75%;
}
.fourteen.wide {
    width: 87.5%;
}
.sixteen.wide {
    width: 100%;
}
.ui {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ui.container {
    width: 100%;
}
.ui.container > .login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
    width: 25%;
    padding: 1.5rem 0.5rem;
    font-size: 1.125rem; 
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.0rem;
    width: 100%;
    margin-bottom: 0.8rem;
}
.column > .separator {
    margin-bottom: 1.0rem;
}
.column > label {
    margin-bottom: 0.30rem;
}
.header {
    font-size: 2.0rem;
    text-align: center;
    letter-spacing: 0.35rem;
}
.separator {
    width: 100%;
    margin: 0;
}
.two.wide {
    width: 12.5%;
}
.four.wide {
    width: 25%;
}
.six.wide {
    width: 37.5%;
}
.eight.wide {
    width: 50%;
}
.ten.wide {
    width: 62.5%;
}
.twelve.wide {
    width: 75%;
}
.fourteen.wide {
    width: 87.5%;
}
.sixteen.wide {
    width: 100%;
}


input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;   
}
    input:focus {
        outline-color: @cor-primaria; /* primaria */
    }

.primary {
    color:@cor-primaria;
}
.secundary {
    color: @cor-secundaria;
}
.terciary {
    color:@cor-atencao;
}
.success {
    color:@cor-sucesso;
}
.fail {
    color:@cor-erro;
}

.btn {
    padding: 8px 12px;
    border-radius: 3px;
    font-weight: 500;
    border: 2px solid;
    cursor: pointer;
}
.btn.primary {
    color: white;
    background-color: @cor-primaria; /* primaria */
    border-color: @cor-primaria;
    transition: 0.2s;
}
    .btn.primary:hover {
        color: @cor-primaria;
        background-color: white;
        border-color: @cor-primaria;     
    }
.btn.secundary {
    color: white;
    background-color: @cor-secundaria; /* secundaria */
    border-color: @cor-secundaria;
    transition: 0.2s;
}
    .btn.secundary:hover {
        color: @cor-secundaria;
        background-color: white;
        border-color: @cor-secundaria;     
    }
.btn.terciary {
    color: white;
    background-color: @cor-atencao; /* terciaria */
    border-color: @cor-atencao;
    transition: 0.2s;
}
    .btn.terciary:hover {
        color: @cor-atencao;
        background-color: white;
        border-color: @cor-atencao;     
    }
.btn.success {
    color: white;
    background-color: @cor-sucesso; /* sucesso */
    border-color: @cor-sucesso;
    transition: 0.2s;
}
    .btn.success:hover {
        color: @cor-sucesso;
        background-color: white;
        border-color: @cor-sucesso;     
    }

.btn.fail {
    color: white;
    background-color: @cor-erro; /* erro */
    border-color: @cor-erro;
    transition: 0.2s;
}
    .btn.fail:hover {
        color: @cor-erro;
        background-color: white;
        border-color: @cor-erro;     
    }