@import "variables"; 
//Mixings
.display-flex-row(@align: flex-start, @justify: space-between) {
    display: flex;
    align-items: @align;
    justify-content: @justify;
}
.display-flex-column(@align: flex-start, @justify: space-between) {
    .display-flex-row(@align, @justify);
    flex-direction: column;
}

//Elementos html
* {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
    height: 100%;
    line-height: 1.5rem;
}
h1, h2, h3 {
    letter-spacing: 0.10rem;
    font-weight: 500;
}
i {
    margin-right: 0.5rem;
    min-width: 19px;
}

//Class for Page
.ui {
    height: 100vh;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
        "menu content"
        "menu content"
        "menu footer"
} 
header.header {
    grid-area: header;
    background-color: rgba(@cor-secundaria, 0.1);
    height: 52px;
}

@import "side-menu";
@import "grid";
@import "button.less";
@import "card";
@import "accordion";
