@import "variables"; 
//Mixings
.display-flex-row(@align: flex-start, @justify: space-between) {
    display: flex;
    align-items: @align;
    justify-content: @justify;
}
.display-flex-column(@align: flex-start, @justify: space-between) {
    .display-flex-row(@align, @justify);
    flex-direction: column;
}

//Elementos html
html, body {
    height: 100%;
    line-height: 1.5rem;
}
h1, h2, h3 {
    letter-spacing: 0.10rem;
    font-weight: 500;
}
i {
    margin-right: 0.5rem;
    min-width: 19px;
}

//navbar (Header)
.navbar {
    .display-flex-row;    
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: @cor-preta;
    width: 250px;    
}

.navbar.container {
    .display-flex-column;
    padding: 1.0rem 0rem;    
}

.navbar.container .itens {
    .display-flex-column;
    width: 100%;
    a {
        width: 100%;
        padding: 0.25rem 1.5rem;
        color: @cor-branca;
        font-size: 1.2rem;
        text-decoration: none;
        &:hover{
            background-color: lighten(@cor-preta, 30%)
        }        
    }    
}

.navbar.image {
    max-width: 40px;
}

//Class for Page
.ui, #root {
    .display-flex-row;
    height: 100%;
    width: 100%;
}
.ui.container {
    .display-flex-column;
    justify-content: flex-start;
    width: 100%;    
}
.ui.container > .login {
    .display-flex-column;
    margin-top: 5%;
    width: 25%;
    padding: 1.5rem 0.5rem;
    font-size: 1.125rem; 
}
.header {
    font-size: 2.0rem;
    text-align: center;
    letter-spacing: 0.35rem;
}
.fa.small {
    font-size: 1.2rem;
}
.title {
    width: 100%;
}

@import "grid";
@import "button.less";
@import "card";

