@{
    ViewData["Title"] = "Relatorio";
}

<link rel="stylesheet" href="~/lib/dataTable/datatables.min.css" />

<div class="row">
    <div class="col-lg-2" >
        <button id="teste" class="btn btn-block btn-primary" >Teste</button>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/lib/dataTable/datatables.min.js" ></script>
    <script>
        $(document)
    </script>
}