@{
    ViewData["Title"] = "Relatorio";
}

<link rel="stylesheet" href="~/lib/dataTable/datatables.min.css" />

<div class="mt-5">
    <div class="row">
        <div class="col-lg-12">
            <table id="example" class="table table-bordered table-responsive">
                <thead>
                    <tr >
                        <th>Usuário</th>
                        <th>Titulos Abertos</th>
                        <th>Titulos Totais</th>
                        <th>Indice</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/dataTable/datatables.min.js" ></script>
    <script src="~/js/relatorio.js"></script>
}